option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current/backend
    MEDIA_ROOT: /efs/media

packages:
  yum:
    git: []
    libpq-devel: []

container_commands:
  01_install_requirements:
    command: |
      source /var/app/venv/*/bin/activate
      pip install -r requirements.txt > /tmp/pip_install.log 2>&1 || (cat /tmp/pip_install.log && exit 1)
    leader_only: true
    cwd: /var/app/staging/backend

  02_make_postdeploy_executable:
    command: "chmod +x .platform/hooks/postdeploy/start.sh"
    leader_only: true
    cwd: /var/app/staging
