# .ebextensions/mount-efs.config

option_settings:
  # This section provides a way to pass environment variables to our shell script
  aws:elasticbeanstalk:application:environment:
    FILE_SYSTEM_ID: 'fs-03c9d8521610c32ef'
    MOUNT_DIRECTORY: '/efs'

packages:
  # This installs the EFS mount helper utility
  yum:
    amazon-efs-utils: []

container_commands:
  # Create a mount point and ensure permissions are correct
  01_mount:
    command: |
      EFS_MOUNT_DIR=$(/opt/elasticbeanstalk/bin/get-config environment -k MOUNT_DIRECTORY)
      EFS_FILE_SYSTEM_ID=$(/opt/elasticbeanstalk/bin/get-config environment -k FILE_SYSTEM_ID)
      echo "Mounting EFS filesystem ${EFS_FILE_SYSTEM_ID} to directory ${EFS_MOUNT_DIR}..."

      if [ ! -d ${EFS_MOUNT_DIR} ]; then
        echo "Creating directory ${EFS_MOUNT_DIR}..."
        mkdir -p ${EFS_MOUNT_DIR}
        if [ $? -ne 0 ]; then
          echo 'ERROR: Failed to create mount directory!'
          exit 1
        fi
      fi

      # Mount the EFS file system
      mount -t efs -o tls ${EFS_FILE_SYSTEM_ID}:/ ${EFS_MOUNT_DIR}
      if [ $? -ne 0 ]; then
        echo 'ERROR: Mount command failed!'
        exit 1
      fi

      echo 'EFS mount complete.'

  # Create a symbolic link from your application's media directory to the EFS mount point
  02_symlink_media_dir:
    command: |
      ln -s -f /efs /var/app/current/media

  # Create the "qr_codes" directory and set permissions
  03_create_media_dirs:
    command: |
      mkdir -p /efs/media/qr_codes
      chown -R webapp:webapp /efs