@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme{
  
  --color-primary: #FFFFEE;
  --color-secondary: #232F3E;
  --color-tertiary: #37475A;
  --color-accent: #FEBD69;
  --color-paper-white: #fbfbf8;
  --font-inter:"Inter", sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}